@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  font-family: "Inter","Noto Sans",sans-serif;
}
.content{
  width: 1140px;

}


@media(max-width:1140px) {
  .content{
    width: 100% !important;
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
  }
  
}